---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import TrustedBy from '../components/TrustedBy.astro';
import SocialProof from '../components/SocialProof';
import Solutions from '../components/Solutions-Option3.astro';
import Industries from '../components/Industries.astro';
import TestimonialSquares from '../components/TestimonialSquares';
import Partners from '../components/Partners-Option3.astro';
import Resources from '../components/Resources.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="controlthrive - Strategic AI Solutions">
  <Header />
  
  <main>
    <Hero />
    <SocialProof client:load />
    <TrustedBy />
    <Solutions />
    <Industries />
    <TestimonialSquares client:load />
    <Resources />
    <Partners />
  </main>
  
  <Footer />
</Layout>